
html, body {
    height: 100%;
}

body {
    background: #efefef;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /*height: 100%;*/
    margin-bottom: -80px; /* Отрицательное значение высоты footer'а */
}

.footer, .push {
    height: 80px; /* .push и .footer должны быть одинаковой высоты */
    clear: both;
    margin-top: 50px;
}

input[type=checkbox] {
    visibility: hidden;
}



#mask {
    background:#678 url(/img/mask_gradient_1000.png) no-repeat;
    background-position: 50% 15%;
}

form.expose {
    /*border:1px outset #ccc;*/
    /*background: #f4f4f4 url(/img/h150.png) repeat-x ;*/
    padding:20px;
    margin:20px 0;
    /*text-align:center;*/
    width:290px;
    height: 90px;
    -moz-border-radius:4px;
}

.inp_f_kont,  textarea {
    font: 14px normal normal uppercase helvetica, arial, sans-serif;
    color: #7c7873;background:none;
    width: 120px;
    height: 36px;
    padding: 0px 10px;
    margin: 0 0 10px 0;
    border:1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow:  inset 0px 0px 1px #b3a895;
    box-shadow:  inset 0px 0px 1px #b3a895;
}

.well {
    border:1px outset #cca5a7;
    background: #fff url(/img/h300.png) repeat-x;
}

/* SLIDE THREE */
.slideThree {
    width: 80px;
    height: 26px;
    background: #08009a;
    margin: -3px 10px 0 7px;
    float: left;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
    -moz-box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
    box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
}

.slideThree:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #fe6769;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.44);
}

.slideThree:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.61);
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0 2px 5px 0 rgba(105, 105, 105, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}

hfooter {
    position: absolute;
    padding: 2px 20px;
    color: #007;
    background: #eee url(/img/h150.png) repeat-x;
    /*background-color: #dbdbdb;*/
    border: 1px solid #9d9da4;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #888888;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px #ddd, 0 0 2px rgba(199, 199, 199, 0.88) inset;
    clear: both;
}

div.pagination {
    float: left;
    padding: 3px;
    margin: 18px 20px 0 20px;
    text-align: center;
    z-index: 10;

}

div.pagination a, div.page a {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #2C2C2C;
    text-decoration: none;
    color: #fff;
    background: #2C2C2C url(/img/image1.gif);
}

div.pagination a:hover, div.pagination a:active, div.page a:hover, div.page a:active {
    border: 1px solid #AAD83E;
    color: #FFF;
    background: #AAD83E url(/img/image2.gif);
}

div.pagination span.current, div.page span.current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #AAD83E;
    font-weight: bold;
    background: #AAD83E url(/img/image2.gif);
    color: #FFF;
}

div.pagination span.disabled, div.page span.disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}


#result {
  text-align: left;
}

#end_content {
position: relative;
    width: 120px;
    float: left;
}

a {
    outline: none;
}
.b {padding-left:30px;padding-top:0px;font-weight:bold;color:#333333;height:16px;}
a:link {
    color: #0761b1; font-weight: bold; text-decoration:none
}
a:active {
    color: #000; font-weight: bold; text-decoration: none
}
a:visited {color: #0761b1; font-weight: bold; text-decoration: none}
a:hover {color: #190505; font-weight: bold; text-decoration: none}

input.span2, textarea.span2, .uneditable-input.span2 {
padding: 4px 5px;
}

#refresh {

    cursor: pointer;
}




