
html, body {
    height: 100%;
}

body {
    background: #efefef;
    width: 100%;
    margin: 0;
    padding: 0;
}

hr {
    color: #000;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -80px;  /*Отрицательное значение высоты footer'а */
    /*width: 1200px;*/

  /*  position: relative;
    font-size : 15px;
    font-family : Times,serif;
    margin :0 auto;
    background-color: #dfdfdf;*/
}



.footer, .push {
    height: 80px; /* .push и .footer должны быть одинаковой высоты */
    clear: both;
    margin-top: 150px;
}





#mask {
    background:#678 url(/img/mask_gradient_1000.png) no-repeat;
    background-position: 50% 15%;
}

form.expose {
    /*border:1px outset #ccc;*/
    /*background: #f4f4f4 url(/img/h150.png) repeat-x ;*/
    padding:20px;
    margin:20px 0;
    /*text-align:center;*/
    width:290px;
    height: 110px;
    -moz-border-radius:4px;
}

.inp_f_kont,  textarea {
    font: 14px normal normal uppercase helvetica, arial, sans-serif;
    color: #7c7873;background:none;
    width: 120px;
    height: 36px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    border:1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 1px #726959;
    -webkit-box-shadow:  inset 0 0 1px #b3a895;
    box-shadow:  inset 0 0 1px #b3a895;
}

.well {
    border:1px outset #cca5a7;
    background: #fff url(/img/h300.png) repeat-x;
}

/* SLIDE THREE */
.slideThree {
    width: 80px;
    height: 26px;
    background: #08009a;
    margin: 2px 10px 4px 7px;
    float: left;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;

    -webkit-box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
    -moz-box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
    box-shadow: inset 4px 4px 4px rgba(0, 1, 84, 0.73), 0 1px 0 rgba(41, 0, 224, 0.67);
}

.slideThree:after {
    content: 'OFF';
    font: 12px/26px Arial, sans-serif;
    color: #fe6769;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.44);
}

.slideThree:before {
    content: 'ON';
    font: 12px/26px Arial, sans-serif;
    color: #00bf00;
    position: absolute;
    left: 10px;
    z-index: 0;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.61);
}

.slideThree label {
    display: block;
    width: 34px;
    height: 20px;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;

    -webkit-box-shadow: 0 2px 5px 0 rgba(105, 105, 105, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #9faa99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
}

.slideThree input[type=checkbox]:checked + label {
    left: 43px;
}

.slideThree input[type=checkbox] {
    visibility: hidden;
}

hfooter {
    position: absolute;
    padding: 2px 20px;
    color: #007;
    background: #eee url(/img/h150.png) repeat-x;
    /*background-color: #dbdbdb;*/
    border: 1px solid #9d9da4;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #888888;
    font-size: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 8px 1px #ddd, 0 0 2px rgba(199, 199, 199, 0.88) inset;
    clear: both;
}

div.pagination {
    float: left;
    padding: 3px;
    margin: 18px 20px 0 20px;
    text-align: center;
    z-index: 10;

}

div.pagination a, div.page a {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #2C2C2C;
    text-decoration: none;
    color: #fff;
    background: #2C2C2C url(/img/image1.gif);
}

div.pagination a:hover, div.pagination a:active, div.page a:hover, div.page a:active {
    border: 1px solid #AAD83E;
    color: #FFF;
    background: #AAD83E url(/img/image2.gif);
}

div.pagination span.current, div.page span.current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #AAD83E;
    font-weight: bold;
    background: #AAD83E url(/img/image2.gif);
    color: #FFF;
}

div.pagination span.disabled, div.page span.disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}


#result {
  text-align: left;
}

#end_content {
position: relative;
    width: 150px;
    float: left;
}

a {
    outline: none;
}
.b {padding-left:30px;padding-top:0;font-weight:bold;color:#333333;height:16px;}
a:link {
    color: #0761b1; font-weight: bold; text-decoration:none
}
a:active {
    color: #000;
    font-weight: bold;
    text-decoration: none
}
a:visited {color: #0761b1; font-weight: bold; text-decoration: none}
a:hover {color: #190505;
    /*font-weight: bold; */
    text-decoration: none}

input.span2, textarea.span2, .uneditable-input.span2 {
padding: 5px 5px 5px 5px;
}

#refresh {

    cursor: pointer;
}

.title {
    background-color : #e5eff0;
    background-image : url(/canon68452/news/diz/images/title.gif);
    background-repeat : repeat-x;
    background-position : 50% bottom;
    border : 1px solid #dbe5e6;
}
.title2 {
    background-color : #eef8e0;
    background-image : url(/canon68452/news/diz/images/title2.gif);
    background-repeat : repeat-x;
    background-position : 50% bottom;
    border : 1px solid #e1ecd1;
}
.content {
    background-image : url(/canon68452/news/diz/images/content.gif);
    background-repeat : repeat-x;
    background-position : 50% top;
    border : 1px solid #ececec;
}
.content2 {
    background-image : url(/canon68452/news/diz/images/content.gif);
    background-repeat : repeat-x;
    background-position : 50% top;
    border : 1px solid #ececec;
}
.content2 a:link, .content2 a:visited {
    color : #62931d;
}

#newscontent {
    width: 1200px;
    position: relative;
    font-size : 15px;
    font-family : Times,serif;
}

.block{
    background: #ebebeb;
    border:1px solid #acacac;
    margin:0 0 10px;
    padding:0 10px 10px;
    box-shadow:0 0 2px #CCCCCC inset;
    position:relative;
    -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ?1.6 */
    -moz-border-radius: 5px; /* Firefox 1-3.6 */
    border-radius: 5px; /* Opera 10.5+, IE 9+, Safari 5, Chrome, Firefox 4+, iOS 4+, Android 2.1+ */
}
.red {
    background-color: #dbb9c0;
}


.tabs-left > .nav-tabs {
    border-right: 1px solid #56ad56;
    float: left;
    margin-right: 19px;
}
.tabs-left > .nav-tabs > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: -1px;
}
.tabs-left > .nav-tabs > li > a:hover {
    border-color: #56ad56 #eeeeee #56ad56 #56ad56;
}
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
    border-color: #56ad56 transparent #56ad56 #56ad56;
    background: #eeeeee;
}
.tabs-right > .nav-tabs {
    border-left: 1px solid #56ad56;
    float: right;
    margin-left: 19px;
}

.linBlue {
    height:2px; width:200px; border-bottom:2px solid #e0e0e0;
    background-color: #eeeeee; padding-left:10px;clear: both;
    margin-top: 5px; margin-bottom: 5px;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #eeeeee;
}






html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;
    vertical-align:top;
    margin:0;padding:0;}


html{font-size:100.01%;}
body{
    line-height:1.5;
    font-size:80%;
    color:#222;
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;margin:0;padding:0;}

::selection{background:#FFDD95;}

caption,th,td{text-align:left;font-weight:400;}
.table th, .table td {

    text-align: left;
    vertical-align: top;
}

blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
a img{border:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;color:#111;}
h1{font-size:2em;line-height:1.2;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5{font-size:1em;font-weight:700;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:700;}
p{margin:0 0 1em;}
p img.left{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right{float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus,a:hover{color:#E88F00;text-decoration:underline;}
a{color:#359cc6;text-decoration:none;}
div.readmorecontent{text-align:right;margin-right:10px;}
.readmorecontent a{background:#e5e5e5;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));background:-webkit-linear-gradient(top, #fff, #e5e5e5);background:-moz-linear-gradient(top, #fff, #e5e5e5);background:-ms-linear-gradient(top, #fff, #e5e5e5);background:-o-linear-gradient(top, #fff, #e5e5e5);border:1px solid #CCC;border-radius:16px 16px 16px 16px;color:#555555;font-size:12px;outline:none;line-height:30px;margin:0;padding:5px 10px;text-decoration:none;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4) inset;text-shadow:0 1px 0 rgba(255, 255, 255, 0.2);}
.readmorecontent a:active{position:relative;top:1px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.9);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);}
.readmorecontent a:hover{background:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#fff));background:-webkit-linear-gradient(top, #e5e5e5, #fff);background:-moz-linear-gradient(top, #e5e5e5, #fff);background:-ms-linear-gradient(top, #e5e5e5, #ffff);background:-o-linear-gradient(top, #e5e5e5, #fff);}
blockquote{color:#666;font-style:italic;margin:1.5em;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{font-style:italic;margin:0 0 1.5em;}
pre{white-space:pre;margin:1.5em 0;}
pre,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
code{background:none repeat scroll 0 0 #EFEFEF;border-color:#CFCFCF;border-image:none;border-style:solid;border-width:1px 0;line-height:22px;padding:1px 2px 2px;text-shadow:1px 1px #FFFFFF;}
ul,ol{
    /*padding-left:3.333em;*/
    margin:0 1.5em 1.5em 0;
}
ul{list-style:disc;}
ol{list-style:decimal;}
dl{margin:0 0 1.5em;}
dd{margin-left:1.5em;}
thead th{background:#c3d9ff;}
tr.even td{background:#e5ecf9;}
caption{background:#eee;}
.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide{display:none;}
.loud{color:#000;}
.highlight{background:#ff0;}
.added{background:#060;color:#fff;}
.removed{background:#900;color:#fff;}
.first{margin-left:0;padding-left:0;}
.last{margin-right:0;padding-right:0;}
.top{margin-top:0;padding-top:0;}
.bottom{margin-bottom:0;padding-bottom:0;}
fieldset{border:1px solid #ccc;margin:0 0 1.5em;padding:1.4em;}
legend{font-weight:700;font-size:1.2em;}
input[type=text],input[type=password],input.text,input.title,textarea,select{
    background:#fff;
    border:1px solid #bbb;
}
input[type=text]:focus,input[type=password]:focus,input.text:focus:focus,input.title:focus:focus,textarea:focus,select:focus{border-color:#666;}
input.text,input.title{width:300px;padding:5px;}
input.title{font-size:1.5em;}
textarea{width:390px;height:250px;padding:5px;}
input[type=checkbox],input[type=radio],input.checkbox,input.radio{position:relative;top:.15em;}
form.inline{line-height:3;}
form.inline p{margin-bottom:0;}
.error,.notice,.success{margin-bottom:1em;border:2px solid #ddd;padding:.8em;}
.error{background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice{background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success{background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a{color:#8a1f11;}
.notice a{color:#514721;}
.success a{color:#264409;}

#header{margin-bottom:5px;padding:10px;}
#header .text_logo{padding:3px 0 0 5px;}
#header .text_logo p{padding-top:5px;color:#666;}
#header h1{font-size:44px;font-weight:700;margin:0;padding:0;}
#nav{height:33px;border:1px solid #CCC;position:relative;margin:0 5px;}
#search-wrap{position:absolute;top:5px;right:5px;z-index:10;}
#search{text-align:left;border:1px solid #111;background:#FFF;padding:0;}
#search input{border:0;background:none;color:#333;}
#search #s{width:135px;background:none;font-size:11px;margin:1px 0 0 2px;padding:2px;}
#search .search-image{border:0;vertical-align:top;margin:3px 2px 0;}
#content-wrap{padding-top:10px;margin-bottom:10px;}
#sidebar-left{float:right;width:180px;}
#content{float:left;width:555px;overflow:hidden;}
#content img{max-width:470px;}


input {
    margin-top: 0; margin-bottom: 0;
}









.shadow{box-shadow:4px 4px 10px #857373;-webkit-box-shadow:4px 4px 10px #857373;-moz-box-shadow:4px 4px 10px #857373;padding:0;}
#sidebar-right{float:right;width:310px;display:inline;}
#sidebar-left ul li a{background:url(/img/arr.png) 0 4px no-repeat;padding-left:10px;}
#sidebar-right a:hover{color:#359cc6;text-decoration:underline;}
#sidebar-right ul li a{background:url(/img/arr.png) 0 4px no-repeat;color:#359cc6;padding-left:10px;}
.block{background:#FFF;border:1px solid #ccc;border-radius:5px 5px 5px 5px;margin:0 5px 10px;padding:0 10px 10px;box-shadow:0 0 2px #CCCCCC inset;}
.block h1{color:#56650A;font-size:1.7em;font-family:"Trebuchet MS",Tahoma,Arial,sans-serif;text-shadow:1px 1px 3px #999999;}
.block h1 a{text-decoration:none;color:#007299;text-shadow:1px 1px 3px #999999;}
.block h1 a:hover{text-decoration:none;color:#209335;text-shadow:1px 1px 3px #999999;}
.block h2{border-bottom:1px solid #DDDDDD;box-shadow:0 -1px 0 #FFFFFF inset, 0 -15px 15px #EFEFEF inset;color:#1E1E1E;font-size:12px;font-weight:500;margin:0 -10px 10px;padding:5px 10px;text-shadow:1px 1px 4px #BBBBBB;text-transform:uppercase;}
.block h3{margin-bottom:10px;color:#3F7900;text-shadow:1px 1px 2px #999;padding:0;}
.block h2 a{color:#005F7F;text-decoration:none;}
.post_thumbnail{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #ccc;margin:5px 15px 10px 0;padding:3px;box-shadow:0 0 3px rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);}
.post_thumbnail:hover{box-shadow:none;}
.post{padding:0 5px 10px;border-bottom:1px dotted #ccc;margin-bottom:15px;}
.title{font-family:Georgia,"Times New Roman",Times,serif;font-size:20px;color:#333;text-shadow:1px 1px 2px #999;margin:0 0 10px;padding:0;}
.title a{text-decoration:none;color:#333;font-family:Georgia,"Times New Roman",Times,serif;}
.title a:hover{text-decoration:none;color:#209335;text-shadow:1px 2px 3px #999;}
.post-info{font-size:12px;padding-bottom:10px;display:block;overflow:hidden;}
.post-info .postdate{color:#acacac;background:url(/img/date.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .author{color:#359cc6;background:url(/img/user.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .comment{color:#359cc6;background:url(/img/comment.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .view{color:#acacac;background:url(/img/view.gif) 0 50% no-repeat;padding-left:18px;margin-right:10px;}
.pagetitle{background:#f2f2f2 url(/img/tabs-normal.png) 0 0 repeat-x;font-weight:700;font-style:italic;font-size:18px;color:#346a00;border-top:1px solid #FFF;margin:0 0 10px;padding:6px 12px;}
.widget_categories li a{background:url(/img/folder.png) 0 50% no-repeat;padding-left:20px;}
.widget_categories li a:hover,.widget_categories li.current-cat a{color:#359cc6;}
.widget_archives li a{background:url(/img/calendar.png) 0 50% no-repeat;padding-left:20px;}
.pages li a{background:url(/img/page.png) 0 50% no-repeat;padding-left:20px;}
.meta li a{background:url(/img/meta.png) 0 50% no-repeat;padding-left:20px;}
.links li a{background:url(/img/link.png) 0 50% no-repeat;padding-left:20px;}
.wp-pagenavi{width:100%;overflow:hidden;border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.15);margin-left:0;border:0;background:url(/img/grad.gif) center left repeat-x;padding:2px 0;}
.wp-pagenavi a,.wp-pagenavi a:link,.wp-pagenavi a:visited{color:#fff;font-weight:700;text-decoration:none;margin:2px 0;padding:4px 7px;}
.wp-pagenavi a:hover{border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.15);font-weight:700;color:#FFF;background:#656565;margin:2px 0;padding:4px 7px;}
.wp-pagenavi span.pages{color:#FFF;background:#4f4f4f;font-weight:700;margin:2px 0;padding:4px 7px;}
.wp-pagenavi span.current{border-radius:4px 4px 4px 4px;-webkit-border-radius:4px 4px 4px 4px;-moz-border-radius:4px;box-shadow:0 1px 4px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.15);color:#FFF;background:#545454;font-weight:700;margin:2px 0;padding:4px 7px;}





















.wp-pagenavi span.extend{color:#FFF;background:url(/img/grad.gif) center left repeat-x;font-weight:700;margin:2px 0;padding:4px 0;}
.wp-pagenavi span.next-prev{font-family:Arial,serif;}
#wp-calendar{width:100%;}
#wp-calendar,#wp-calendar th,#wp-calendar caption{text-align:center;}
#wp-calendar th{background:#f5f5f5;border:1px solid #f0f0f0;padding:3px;}
#wp-calendar td{border:1px solid #f0f0f0;padding:5px 2px;}
#wp-calendar caption{background:transparent;font-weight:700;color:#333;padding:3px 0 7px;}
#wp-calendar #today{background:#f5f5f5;font-weight:700;}
.clearlist{list-style:none;margin:0;padding:0;}
.clearlist li{background:none;border-bottom:1px dotted #262270;padding:10px 0;}
.clearlist li:hover{background:#f9f9f9;}
.clearlist li a{text-decoration:none;background:none;padding-left:0;}
.clearlist li .time{color:#359cc6;padding-bottom:5px;font-style:italic;}
.clearlist li span{color:#359cc6;font-style:italic;}
.clearlist li .avatar{float:left;border:1px solid #ccc;margin-right:5px;padding:1px;}
.clearlist li .recent_comment_name,.recent_comment_name a{font-size:12px;font-weight:700;color:#d15128;font-style:italic;}
.clearlist li .ctime{font-size:11px;color:#999;}
.simplist li{padding:4px 0;}
.simplist li a{background:url(/img/arr.png) 0 50% no-repeat;padding-left:12px;}
.addthis_toolbox{margin:0 0 5px;}
.addthis_toolbox .custom_ img a{width:32px;height:32px;margin:0 3px 0 0;padding:0;}
.addthis_toolbox .custom_ img a:hover img{opacity:1;}
.addthis_toolbox .custom_ img a img{opacity:0.75;}
h3.comments{margin-bottom:10px;color:#fff;}
.textarea
{
    width:170px;
    box-shadow:0 1px 4px rgba(0,0,0,0.15);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);
    border:1px solid rgba(0,0,0,0.2);
    /*margin:5px 5px 1px 0;*/
    padding:2px;
}
#commentform{margin:5px 10px 0 0;}
#commentform textarea{width:100%;padding:2px;}
#commentform #submit{margin:0 0 5px auto;}
ol.commentlist{background:#fff;margin:15px 0 0;padding:0;}
ol.commentlist li{list-style:none;border:1px dotted #ccc;margin:0 0 10px;padding:10px;}
ol.commentlist li div.vcard cite.fn{font-style:normal;font-weight:700;}
ol.commentlist li div.vcard cite.fn a.url{color:#222;}
ol.commentlist li div.vcard img.avatar{float:left;margin:0 10px 5px 0;}
ol.commentlist li div.vcard span.says{color:#888;}
ol.commentlist li div.comment-meta{font-size:.9em;margin:3px 0 0;}
ol.commentlist li div.comment-meta a{color:#AAA;text-decoration:none;}
ol.commentlist li p{line-height:1.4em;margin:10px 0 0;}
ol.commentlist li div.reply{line-height:18px;margin:10px 0 0;}
ol.commentlist li div.reply a{background:#333 url(/img/nav.png) 0 0 repeat-x;height:16px;font-size:10px;color:#fff;text-transform:uppercase;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);padding:1px 5px;}



ol.commentlist li div.reply a:hover{
    color:#84FF00;
    text-decoration:none;
    cursor: pointer;
}
ol.commentlist li ul.children li{background:#fff;border:1px dotted #ccc;margin:10px 0 0;}
ol.commentlist li ul.children li li.alt{background:#fff;}
.author-info .author-avatar .avatar{width:50px;height:50px;border:1px solid #CCC;float:left;margin-right:5px;padding:1px;}
.author-info .author-email{background:url(/img/email.gif) 0 50% no-repeat;padding-left:25px;}
.author-info .feed{background:url(/img/feed.gif) 0 50% no-repeat;padding-left:22px;}
#comment_quicktags{text-align:left;margin:15px 0 0 1px;}
#comment_quicktags #ed_comment_toolbar{display:inline;}
#comment_quicktags input.ed_button{border:1px solid #999;font-size:11px;font-family:Georgia,"Times New Roman",Times,serif;width:0;overflow:visible;background:#F4F4F4;display:inline-block;color:#000;text-decoration:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow:0 1px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer;margin:-10px 4px 3px 0;padding:2px 5px 1px;}
#comment_quicktags input.ed_button:hover:hover{background:#8F8F8F;color:#fff;}
#comment_quicktags input:focus.ed_button{background:#F4F4F4;color:#000;border:1px solid #686868;}
.quoter{margin-right:4px;float:right;}
.quoter a{border-bottom:1px dotted #9c9c9c;}
.Cbutton{border:none;font:bold 11px Arial,Helvetica,sans-serif;width:0;overflow:visible;background:#717171;display:inline-block;color:#fff;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,0.5);-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);text-shadow:0 -1px 1px rgba(0,0,0,0.25);border-bottom:1px solid rgba(0,0,0,0.25);position:relative;cursor:pointer;margin:5px 5px 0 0;padding:5px 8px 4px;}
.Cbutton:hover{background:#585858;color:#fff;}
.tags{background:#EDEDED url(/img/tags.gif) 0 50% no-repeat;padding-left:20px;}
.tags_cloud li{display:inline;border:none;margin:0;padding:0;}
.tags_cloud a{color:#333;}
.tags_cloud a:hover{color:#359cc6;text-decoration:underline;}
.bookmarkz{float:right;height:15px;margin:10px 0 0;}
#content p#rssad img{border:0 solid;margin:2px;margin-right:3px;display:inline;vertical-align:middle;background:none;-webkit-animation:icoRotate 3s infinite;-moz-animation:icoRotate 3s infinite;-ms-animation:icoRotate 3s infinite;}
#content p a.aimg{border-bottom:0 dotted;}
@-webkit-keyframes icoRotate{from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}}
@-moz-keyframes icoRotate{from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}}
@-ms-keyframes icoRotate{from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}}
.video-link{margin-top:10px;}
.knopki{border:none;height:100%;overflow:hidden;text-align:left;margin:15px 0 10px;padding:5px;}
#content #ya_share1{height:16px;float:right;padding-right:0;margin-top:-23px;}
#content #ya_share1 a{border-bottom:0 dotted #9c9c9c;}
#content #ya_share1 a:hover{background:#EDEDED;border-bottom:0 dotted #9c9c9c;}
#footer{border-top:1px dotted #9F998B;font-size:11px;padding:10px 0;}
.scrollTop{background:url("/img/arrows.png") no-repeat scroll 0 -1533px transparent;bottom:10px;display:block;height:40px;right:10px;position:fixed;width:110px;z-index:2000;}
.scrollTop:hover{background-position:-138px -1533px;}
.page-link{padding:5px 0;}
.clear{clear:both;}
.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.alignleft{float:left;}
.alignright{float:right;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,li ul,li ol{margin:0;}
strong,dfn,dl dt,th,label,#comment_quicktags #ed_strong{font-weight:700;}
em,dfn,tfoot,#comment_quicktags #ed_em{font-style:italic;}
del,.quiet{color:#666;}
#header .logo,.author-info p{padding:0;}
#header .logo a,#header h1 a,ol.commentlist a:link,ol.commentlist li div.vcard cite.fn a.url:hover:hover{text-decoration:none;}
#sidebar-left a,#sidebar-right a{color:#468A93;text-decoration:none;}
#sidebar-left ul,#sidebar-right ul,.simplist{list-style:none;margin:0;padding:0;}
#sidebar-left ul li,#sidebar-right ul li{border-bottom:1px dotted #CCC;padding:5px 0;}
#sidebar-left ul li a:hover,#sidebar-right ul li a:hover{color:#e88f00;}
.featured,.post p{margin-bottom:10px;}
.ads300{margin:0 5px 10px;}
.wp-pagenavi a.last,.wp-pagenavi a.first{padding:4px 7px;}
ol.commentlist li div.vcard img.avatar-32,ol.commentlist li div.vcard img.photo{background:#fff;border:1px solid #ccc;padding:1px;}
#comment_quicktags input.ed_button[class],.Cbutton[class]{width:auto;}
.post-meta-bottom,#rssad{border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-radius-bottomleft:5px;-webkit-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;box-shadow:0 1px 4px rgba(0,0,0,0.15);-moz-box-shadow:0 1px 4px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.15);background:none repeat scroll 0 0 #EDEDED;border:1px solid rgba(0,0,0,0.1);clear:both;color:#535353;display:block;height:100%;overflow:hidden;text-align:left;margin:0;padding:5px;}
#rssad{margin:10px 0 15px;}
.contact{font-family:Verdana,Arial,Helvetica,sans-serif;width:490px;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;padding-left:10px;padding-right:10px;border:1px solid #DFDFDF;color:#000;background:#F9F9F2;background-image:url(/img/mail.png);background-position:top right;background-repeat:no-repeat;}
.terms h3{margin:16px 0 5px 5px;}
div.terms{background:#FFFFDF;border:1px solid #FFBC80;padding:0 10px 5px;display:none;margin-bottom:15px;width:98%;}
.terms ol{margin-left:5px;}
.terms ol li{list-style:decimal;padding:6px 0;}
.terms a{color:#F70;text-decoration:none;border-bottom:1px dashed #F70;}
.terms a:hover{color:#0094D6;border-bottom:1px dashed #0094D6;}
#share42{position:fixed;z-index:1000;margin-left:-70px;}
#share42{padding:6px 6px 0;background:#F3F8FC;border:1px solid #CFDEEF;border-radius:4px;}
#share42:hover{background:#F6F6F6;border:1px solid #D4D4D4;box-shadow:0 0 5px #DDD;}
#share42 a{opacity:0.4}
#share42:hover a{opacity:0.6}
#share42 a:hover{opacity:1}
.yarlist{list-style:none outside none;margin:0;padding:0;}
.yarlist li{padding:4px 0;}
.yarlist li a{background:url(/img/icon-arrow.png) 0 50% no-repeat;padding-left:18px;}
#tabber{background:#FEFEFE;height:auto;display:block;}
#tabber .inside{padding:0 5px 0 5px;}
#tabber ul.tabs{height:32px;background:url(/img/title.png) repeat-x center top;padding:0 10px;margin:2px -9px 10px;}
#tabber ul.tabs li{background:url(/img/icon-arrow.png) no-repeat scroll -2px 8px transparent;float:left;display:inline;color:#1E1E1E;margin:0 10px 0 0;padding:0 0 0 5px;cursor:pointer;border-bottom:none;}
#tabber ul.tabs li a{background:none;}
#tabber ul.tabs li a.selected, #tabber ul.tabs li a:hover{color:#1f4980;text-decoration:none;background:url(/img/bg-tabs-selected.png) no-repeat center 31px;border-bottom:none;}
#tabber ul.tabs li a{color:#1e1e1e;line-height:32px;display:block;float:left;padding:0 7px 10px;text-transform:uppercase;font-size:12px;font-weight:500;text-shadow:1px 1px #fff;}
#tabber .inside li{background:none;}
#tabber .inside li a{line-height:19px;}
#tabber .inside a:hover{color:#E88F00;text-decoration:none;}
#tabber .inside li div.info{display:table;top:0;margin:0;padding:0;}
#tabber .inside li span.meta{display:block;font:italic 11px/20px Georgia, Times New Roman;color:#999;}
#tabber .inside li span.meta a{color:#999;background:none;padding:0;}
#tabber .inside li span.meta a:hover{color:#369;text-decoration:none;}
#tabber .inside li img.avatar, #tabber .inside li img.thumb{border:1px solid #f0f0f0;padding:2px;background:#fff;float:left;margin:0 8px 0 0;}
a.linkservice{background:url(/img/linkservice.png) no-repeat scroll 0 0 transparent;margin-left:5px;padding-left:60px;display:block;font-weight:700;color:rgb(70, 166, 215);line-height:50px;height:64px;}
a.linkservice:hover{color:rgb(247, 142, 5);text-decoration:none;}
.subscribeform{text-align:center;}
input.subscribe-field{width:130px;padding:5px 0 5px 30px;background:url(/img/rss-mail.png) 3px 50% no-repeat;font:12px Arial, Helvetica, sans-serif;color:#888;border:1px solid #c8c6c4;vertical-align:top;border-radius:3px;}
.subscribeform button{background:none repeat scroll 0 0 #838383;border:none;border-radius:3px 3px 3px 3px;color:#FFFFFF;font:13px Arial, Helvetica, sans-serif;margin:6px 0 0 3px;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);padding:4px 5px 5px;}
.subscribeform button:hover{cursor:pointer;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);background:none repeat scroll 0 0 #30A146;}
#tag-cloud a{background:url(/img/al-overlay.png) repeat-x scroll 0 0 #333333;border-bottom:1px solid #888888;border-radius:15px 15px 15px 15px;box-shadow:0 1px 3px #999999;color:#EEEEEE;cursor:pointer;display:inline-block;font-size:11px;height:19px;line-height:1.8em;margin:0 4px 6px 0;padding:0 10px;position:relative;text-decoration:none;}
#tag-cloud a:hover{background-color:#17A8E1;color:#EEEEEE;}
.context{background:none repeat scroll 0 0 #F4F4F4;border:1px solid #ccc;border-radius:5px 5px 5px 5px;margin:0 5px 10px;padding:8px;box-shadow:0 0 2px #CCCCCC inset;}
.single-context{margin-bottom:15px;padding:5px;}
.post-context{padding:5px;}
canvas{-ms-touch-action:double-tap-zoom;}
.shortlink{color:#999999;}
.shortlink input{border:0 none;color:#999999;outline:0 none;padding-bottom:3px;width:170px;}
.copyright{padding:5px 0;text-align:center;}
.counters{padding:2px 0 5px;text-align:center;}
.counters a{margin-right:7px;}
.counters img{opacity:0.5;}
.counters img:hover{opacity:1;}
.ddsg-wrapper{padding:0 5px 10px;}
.ddsg-wrapper h2{box-shadow:none;border-bottom:1px dashed #DDDDDD;font-size:1.5em;color:#008000;text-transform:none;text-shadow:1px 1px 2px #999999;margin-bottom:15px;text-align:center;}

.ddsg-wrapper ul > li:before{color:#0086BF;content:"?";font-size:12px;left:-22px;position:absolute;text-shadow:1px 1px #FFFFFF, 2px 2px 3px #CCCCCC;top:0;}
.ddsg-wrapper ul > li{list-style:none outside none;position:relative;}
.noteclassic,.noteimportant,.notewarning,.notetip,.notehelp,.notesmile{width:80%;
    /*margin-top:2em;margin-left:auto;margin-right:auto;*/
    border-radius:10px 10px;-moz-border-radius:10px 10px;-webkit-border-radius:10px 10px;
    padding:15px 20px 15px 80px;
    margin: 5px 5px 5px 7px;
    -webkit-box-shadow:2px 2px 3px #999;-moz-box-shadow:2px 2px 3px #999;
    min-height:40px;
    /*height:auto !important;*/
    height:40px;overflow:visible;position:relative;bottom:6px;right:6px;border:1px solid #999999;
    background-position:20px 50%;background-repeat:no-repeat;text-align:justify;}
.noteclassic{background-color:#EEF;background-image:url(/img/note.png);}
.noteimportant{background-color:#FFC;background-image:url(/img/important.png);}
.notewarning{background-color:#FDD;background-image:url(/img/warning.png);}
.notesmile{background-color:rgba(217, 252, 221, 0.9);background-image:url(/img/smaile.png);}
.notetip{background-color:#E4F6F8;background-image:url(/img/tip.png);}
.notehelp{background-color:#D8F3C9;background-image:url(/img/help.png);}


.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    width: 140px;
    /*height: 20px;*/
    text-align: left;
}

#appendedInputButton {
    height: 24px;
}

.input-append a  {
     border-radius: 4px 0 0 4px;
 }

label {
    display: inline-block;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

.thumbImg {
    /*margin: 20px auto;*/
    /*overflow: hidden;*/
    width: 1350px;
}
.bheader {
    background-color: #DDDDDD;
    border-radius: 10px 10px 0 0;
    /*padding: 5px 0;*/
    text-align: center;
}


.info, .error {
    margin: 10px 0;
}
.step2, .error {
    display: none;
}
.error {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
.info {
    font-size: 14px;
}
/*label {
    margin: 0 5px;
}*/
/*input {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    padding: 4px 8px;
    text-align: center;
    width: 70px;
}*/
.jcrop-holder {
    display: inline-block;
}



.block{
    background: #ebebeb;
    border:1px solid #acacac;
    margin:0 0 10px;
    padding:0 10px 10px;
    box-shadow:0 0 2px #CCCCCC inset;
    position:relative;
    -webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ?1.6 */
    -moz-border-radius: 5px; /* Firefox 1-3.6 */
    border-radius: 5px; /* Opera 10.5+, IE 9+, Safari 5, Chrome, Firefox 4+, iOS 4+, Android 2.1+ */
}

.block:before, .block:after {
    content:"";
    position:absolute;
    z-index:-2;
}


.block h1{
    color:#007299;
    font-size:1.7em;
    font-family:"Trebuchet MS",Tahoma,Arial,sans-serif;
    text-shadow:1px 1px 3px #999999;
    text-align: left;
}

.block h1 a{
    text-decoration:none;
    color:#007299;
    text-shadow:1px 1px 3px #999999;
}

.block h1 a:hover{
    text-decoration:none;
    color:#209335;
    text-shadow:1px 1px 3px #999999;
}

.block h2{
    padding: 6px 10px 5px 10px;
    text-transform:uppercase;
    margin:0 -10px 10px;
    -moz-background-size: 100% 100%;  /*Firefox 3.6+*/
    -o-background-size: 100% 100%; -webkit-background-size: 100% 100%; -khtml-background-size: 100% 100%; background-size: 100% 100%;
    background: -moz-linear-gradient(top, #fdef00, #fd9d00);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdef00), to(#fd9d00));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fdef00,endColorstr=#fd9d00,GradientType=0); zoom: 1;
    background-clip: border-box; -moz-background-clip: border-box; -webkit-background-clip: border-box; -khtml-background-clip: border-box;
    background-origin: border-box; -moz-background-origin: border; -webkit-background-origin: border-box; -khtml-background-origin: border-box;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    color: #000000;
    font: 14px Arial,Helvetica,sans-serif;
    height: 18px;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #BBBBBB;
    border-bottom:1px solid #DDDDDD;
}

.yellow {
    background: -moz-linear-gradient(top, #fdef00, #fd9d00);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdef00), to(#fd9d00));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fdef00,endColorstr=#fd9d00,GradientType=0); zoom: 1;
}

.silver {
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#fff,endColorstr=#ccc,GradientType=0); zoom: 1;
}

.block h3{
    margin-bottom:10px;
    color:#3F7900;
    text-shadow:1px 1px 2px #999;
    padding:0;
}

.block h2 a{
    color:#005F7F;
    text-decoration:none;
}

.post_thumbnail{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #ccc;
    margin:5px 15px 10px 0;
    padding:3px;
    box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
}

.post{padding:0 5px 10px;border-bottom:1px dotted #aaa;margin-bottom:15px;}
.title{font-family:Georgia,"Times New Roman",Times,serif;font-size:20px;color:#333;text-shadow:1px 1px 2px #999;margin:0 0 10px;padding:0;}
.title a{text-decoration:none;color:#333;font-family:Georgia,"Times New Roman",Times,serif;}
.title a:hover{text-decoration:none;color:#209335;text-shadow:1px 2px 3px #999;}
.post-info{font-size:12px;padding-bottom:10px;display:block;overflow:hidden;}
.post-info .postdate{color:#acacac;background:url(/img/date.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .author{color:#359cc6;background:url(/img/user.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .comment{color:#359cc6;background:url(/img/comment.png) 0 50% no-repeat;padding-left:15px;margin-right:10px;}
.post-info .view{color:#acacac;background:url(/img/view.gif) 0 50% no-repeat;padding-left:18px;margin-right:10px;}
.post_thumbnail{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #ccc;margin:5px 15px 5px 0;padding:3px;box-shadow:0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.2);}
.post_thumbnail:hover{box-shadow:none;}
.entry {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

}

.c_colonka .entry {
    text-indent: 15px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}

div.readmorecontent{text-align:right;margin-right:10px;}
.readmorecontent a{background:#e5e5e5;background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
    background:-webkit-linear-gradient(top, #fff, #e5e5e5);background:-moz-linear-gradient(top, #fff, #e5e5e5);
    background:-ms-linear-gradient(top, #fff, #e5e5e5);background:-o-linear-gradient(top, #fff, #e5e5e5);
    border:1px solid #CCC;border-radius:16px 16px 16px 16px;color:#555555;font-size:12px;outline:none;
    line-height:30px;margin:0;padding:5px 10px;text-decoration:none;box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.2);}
.readmorecontent a:active{position:relative;top:1px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.9);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);-o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);}
.readmorecontent a:hover{background:#fff;background:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#fff));
    background:-webkit-linear-gradient(top, #e5e5e5, #fff);background:-moz-linear-gradient(top, #e5e5e5, #fff);
    background:-ms-linear-gradient(top, #e5e5e5, #ffff);background:-o-linear-gradient(top, #e5e5e5, #fff);}

.yarlist{list-style:none outside none;margin:0;padding:0;}
.yarlist li{padding:4px 0; display: block;}
.yarlist li a{background:url(/img/icon-arrow.png) 0 50% no-repeat;padding-left:18px;}


.noteclassic,.noteimportant,.notewarning,.notetip,.notehelp,.notesmile{
    width:84%;
    border-radius:10px 10px;
    -moz-border-radius:10px 10px;-webkit-border-radius:10px 10px;
    padding:10px 20px 10px 80px;
    margin: 15px 5px 5px 7px;
    -webkit-box-shadow:2px 2px 3px #999;-moz-box-shadow:2px 2px 3px #999;
    min-height:40px;
    height:auto;
    overflow:visible;
    position:relative;
    bottom:6px;
    right:6px;
    border:1px solid #999999;
    background-position:20px 50%;
    background-repeat:no-repeat;
    text-align:justify;
}

.noteclassic{
    background-color:#EEF;
    background-image:url(/img/note.png);
}

input.subscribe-field{width:130px;padding:5px 0 5px 30px;background:url(/img/rss-mail.png) 3px 50% no-repeat;font:12px Arial,
Helvetica, sans-serif;color:#888;border:1px solid #c8c6c4;vertical-align:top;border-radius:3px;}

.subscribeform{text-align:center;}
.subscribeform button{background:none repeat scroll 0 0 #838383;border:none;border-radius:3px 3px 3px 3px;color:#FFFFFF;font:13px Arial, Helvetica, sans-serif;margin:6px 0 0 3px;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);padding:4px 5px 5px;}
.subscribeform button:hover{cursor:pointer;text-shadow:1px 1px 0 rgba(0, 0, 0, 0.4);background:none repeat scroll 0 0 #30A146;}
.block p a img{margin-left: -5px;}
.c_colonka .block p {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.3;
    text-indent: 15px;
    margin: 10px 0;
}
.r_colonka p{margin: 15px 5px; font-size: 14px;}
.l_colonka p{margin: 15px 5px; font-size: 14px;}
.block blockquote p {
    line-height: 1.0;
}
.block blockquote {
    border-left-width: 0; padding-left: 5px; padding-right: 5px;
}
/*центрирование блока*/
.center-bl {display:block; margin:0 auto;}
/*центрирование строки*/
.center {text-align: center;}

#smail {
    background:url(/img/smile.jpg) no-repeat transparent;
    height: 220px;
}
#noVrag {
    display: none;
    text-align: justify;
}

.textwidget hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #b9b9b9; /* Цвет линии для остальных браузеров */
    background-color: #b9b9b9; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}

.shadow{box-shadow:4px 4px 10px #857373;-webkit-box-shadow:4px 4px 10px #857373;-moz-box-shadow:4px 4px 10px #857373;padding:0;}

.clearlist{list-style:none;margin:0;padding:0;position:relative;}
.clearlist li{
    position: relative;
    background:none;
    border-bottom:1px dotted #262270;
    padding:10px 0;
    font-family: "Helvetica Neue", Arial,Helvetica,sans-serif;
    font-size: 75%;
    line-height: 1.5;
    display: inline-block;
}

.clearlist li a{text-decoration:none;background:none;padding-left:0;}
.clearlist li .time{color:#359cc6;padding-bottom:5px;font-style:italic;}
.clearlist li span{color:#359cc6;font-style:italic;}
.clearlist li .avatar{float:left;border:1px solid #ccc;margin-right:5px;padding:1px;}
.clearlist li .recent_comment_name,.recent_comment_name a{font-size:12px;font-weight:700;color:#d15128;font-style:italic;}
.clearlist li .ctime{font-size:11px;color:#999;}
.simplist li{padding:4px 0;}
.simplist li a{background:url(/img/arr.png) 0 50% no-repeat;padding-left:12px;}


.r_colonka ul li a, .c_colonka ul li a, .l_colonka ul li a {
    background: url(/img/arr.png) no-repeat scroll 0 4px transparent;
    padding-left: 10px;
}

.r_colonka a:hover, .c_colonka a:hover, .l_colonka a:hover {
    color: #e88f00;
    background-color: #eaeaea;
    text-decoration: underline;
}