@charset "windows-1251";
/* CSS Document */

.tb_main {
	width:100%;
}

.tb_send_f {

    margin: 10px 0;
    width: 350px;

}
.send_f {
	background: #e6e0ce;
	width:100%;
    color: #111111;
    border: 1px solid #555555;
}

th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

a.sml {
	color: #1932c6;
}
a.sml:hover {
	color: #111111;
}
.bt_send {
	background: #d9d9d9;
	display:block;
	display: inline-block; /*ie*/
	color: #111111;
	font-weight:bold;
	font-size:12px;
	vertical-align:central;
	margin-top:10px;
	text-decoration:none;
	padding-left:5px;
}
.bt_send:hover {
	background: #c3c3c3;
}
.td_klmess {
	color: #111111;
	/*background: #d7d7d7;*/
	width:100%;
}
.tb_mess {
	width:100%;
	color: #111111;
	/*background:#202;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border:#555 ridge 1px;
	margin-top:20px;
}
.td_name {
	width:100%;
	background: #e5dfcd;
	text-align:center;
}
.td_mess_txt {
	color: #111111;
	background: #ddd7c5;
	padding:5px;
	font-size:16px;
	text-align:justify;
}
.mees_inf {
	background: #e5dfcd;
	font-size:16px;
	text-align:center;
}

.pansw {
    color: #111111;
    background: #d8c4c1;
    padding:5px;
    font-size:16px;
    text-align:justify;
}

textarea.form2 {
    color: #111111;
    background: #cbcbcb;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #aaa ridge 1px;
    margin-top: 2px;
}

textarea.form2:hover {

    background: #dddddd;
}

textarea.form2:active {

    background: #eeeeee;
}

.p {
    margin: 5px 10px;
}