{% block content %}

	<script src="{{ merge_files('/cache/fotobank.min.js', 'js', include_Js_banck, '',  include_Js_banck) }}" ></script >

{% endblock content %}


	</div></div>


	{% block end_content %}
		<div class="end_content" ></div >
	{% endblock end_content %}



	{% block footer %}
		{% include 'footer.twig' %}
	{% endblock footer %}


		</body>
	{% block html %}
		</html>
	{% endblock html %}