{#{% extends "base.twig" %}#}

  {% spaceless %}
	  {% block doctype %}
		  <!DOCTYPE html>
		  <html xmlns="http://www.w3.org/1999/xhtml">
	  {% endblock doctype %}


	  <head>
		  {% block head %}
			  {% include 'head.twig' %}
		  {% endblock head %}
	  </head>


	  {% block body %}
		  <body>
		  {% block maket %}
			  <div id="maket">
				  <div id="photo_preview_bg" class="hidden" onClick="hidePreview();"></div>
				  <div id="photo_preview" class="hidden"></div>


				  <!--Голова начало-->
				  {% block golova_menu %}
					  {% include 'golova_menu.twig' %}
				  {% endblock golova_menu %}
				  <!--Голова конец-->


				  {% block content %}
	<div id="main">


		{% block content_header %}
			{% include 'content_header.twig' %}
		{% endblock content_header %}
		<div class="clear"></div>


		{% block top %}
			<div class="cont-list" style="margin: -10px 10px 80px 40%;" >
				<div class="drop-shadow lifted" >
					<h2 ><span style="color: #00146e;" > Раздел УСЛУГИ</span ></h2 >
				</div >
			</div >
			<div class="clear" ></div >
		{% endblock top %}



		<div class="l_colonka">
			&#160
			{% block l_colonka %}
				{% include 'rubriki.twig' %}
				{#{% include 'l_colonka.twig' %}#}
			{% endblock l_colonka %}
		</div>


		<div class="c_colonka">
			&#160
			{% block c_colonka %}
				{{ dataDB_top|raw }}
				{#{% include 'c_colonka.twig' %}#}
			{% endblock c_colonka %}
		</div>



<div class="r_colonka">
	&#160
	{% block r_colonka %}
		{#{% include 'r_colonka.twig' %}#}
	{% endblock r_colonka %}
</div>




 {% block bottom %}
	 <table width="100%" border="0" >
		 <tr >
			 <td >
				 <table class="tb_usl_foto" border="0" >
					 <tr >
						 <td class="td_usl_ph" >&nbsp;</td >
						 <td class="td_usl_ph_sp" ><a class=" usl_svad" href="/f_svadbi.php" ></a ></td >
						 <td class="td_usl_ph_sp" ><a class="usl_deti" href="/f_deti.php" ></a ></td >
					 </tr >
					 <tr >
						 <td class="td_usl_ph_sp" ><a class="usl_bankety" href="/f_bankety.php" ></a ></td >
						 <td class="td_usl_ph_sp" ><a class="usl_phknigi" href="/f_photoboock.php" ></a ></td >
						 <td class="td_usl_ph_sp" ><a class="usl_vipusk" href="/f_vipusk.php" ></a ></td >
					 </tr >
					 <tr >
						 <td class="td_usl_ph_sp" ><a class="usl_raznoe" href="/f_raznoe.php" ></a ></td >
						 <td class="td_usl_ph_sp" >&nbsp;</td >
						 <td class="td_usl_ph_sp" >&nbsp;</td >
					 </tr >
				 </table >
			 </td >
			 <td >
				 <table class="tb_usl_video" border="0" >
					 <tr >
						 <td class="td_usl_vd" ></td >
						 <td class="td_usl_vd_sp" ><a class="usl_v_svad" href="/v_svadby.php" ></a ></td >
						 <td class="td_usl_vd_sp" ><a class="usl_v_deti" href="/v_deti.php" ></a ></td >
					 </tr >
					 <tr >
						 <td class="td_usl_vd_sp" ><a class="usl_v_vipusk" href="/v_vipusk.php" ></a ></td >
						 <td class="td_usl_vd_sp" ><a class="sl_show" href="/v_sl_show.php" ></a ></td >
						 <td class="td_usl_vd_sp" ><a class="usl_v_bankety" href="/v_bankety.php" ></a ></td >
					 </tr >
					 <tr >
						 <td class="td_usl_vd_sp" ><a class="usl_v_raznoe" href="/v_raznoe.php" ></a ></td >
						 <td class="td_usl_vd_sp" >&nbsp;</td >
						 <td class="td_usl_vd_sp" >&nbsp;</td >
					 </tr >
				 </table >
			 </td >
		 </tr >
	 </table >
	 {{ dataDB_bottom|raw }}
 {% endblock bottom %}


</div>
{% endblock content %}
<div class="clear"></div>
</div>
{% endblock maket %}


	{% block end_content %}
		<div class="end_content"></div>
	{% endblock end_content %}


	{% block footer %}
		{% include 'footer.twig' %}
	{% endblock footer %}


</body>
{% endblock body %}


{% block html %}
	</html>
{% endblock html %}
{% endspaceless %}