{% extends "base.twig" %}


    {% block content_header %}
	    {{ parent() }}
    {% endblock %}


    {% block l_colonka %}
	    {% include 'l_colonka.twig' %}
    {% endblock %}


    {% block c_colonka %}

        {% include 'c_colonka.twig' %}
	    {#<div id="cont_fb">
           {{ dataDB|raw }}
	    </div>#}
    {% endblock %}


    {% block r_colonka %}
        {% include 'r_colonka.twig' %}
    {% endblock %}

{% block end_content %}
	{{ parent() }}
{% endblock end_content %}


{% block footer %}
	{{ parent() }}
{% endblock footer %}
