{% block doctype %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
{% endblock doctype %}



{% block head %}
	{% include 'head.twig' %}
{% endblock head %}



{% block body %}
<body>

{% block maket %}
<div id="maket">

	<div id="photo_preview_bg" class="hidden" onClick="hidePreview();"></div>
	<div id="photo_preview" class="hidden"></div>


	<!--Голова начало-->
	{% block golova_menu %}
		{% include 'golova_menu.twig' %}
	{% endblock golova_menu %}
	<!--Голова конец-->


	{% block content %}
	<div id="main">
			<div class="header">
				{% block content_header %}{% endblock %}
			</div>

			<div class="clear"></div>

			<div class="l_colonka">
				{% block l_colonka %}{% endblock l_colonka %}
			</div>

			<div class="c_colonka">
				{% block c_colonka %}{% endblock c_colonka %}
			</div>

			<div class="r_colonka">
				{% block r_colonka %}{% endblock r_colonka %}
			</div>
	</div>
	{% endblock content %}

	<div class="clear"></div>

</div>
{% endblock maket %}


	{% block end_content %}
		<div class="end_content"></div>
	{% endblock end_content %}



	{% block footer %}
		{% include 'footer.twig' %}
	{% endblock footer %}


</body>
{% endblock body %}


{% block html %}
     </html>
{% endblock html %}