<link href="/css/calkul.css" rel="stylesheet" type="text/css"/>
<script src="/js/calkul.js"></script>

<script src=" /js/textualizer.js"></script>

<script type='text/javascript'>
    $(function() {
        var list = [
            "Счастлив тот, кто может разглядеть красоту в обычных вещах, там, где другие ничего не видят! Всё — прекрасно, достаточно лишь уметь присмотреться. Камиль Писсарро.",
            "Полюбить — значит разглядеть сквозь дробность мира картину. Любовь — это обретение божества. Антуан де Сент-Экзюпери, «Цитадель»",
            "Какие бы причины ни были, настоящая любовь все равно продолжает жить в сердце. Ты ничего не можешь поделать с этой любовью и просто сохраняешь ее в себе. Эльчин Сафарли.",
            "Там, где встречаешь любовь, пространство сжимается до сердца одного человека.  Эльчин Сафарли, «Я вернусь…»",
            "Величайшее несчастье — быть счастливым в прошлом. Боэций",
            "В истинно любящем сердце или ревность убивает любовь, или любовь убивает ревность. Федор Михайлович Достоевский",
            "Дружба — это любовь без крыльев. Джордж Байрон.",
            "Я люблю тебя не за то, кто ты, а за то, кто я, когда я с тобой.Габриель Гарсиа Маркес, «Сто лет одиночества».",
            "Все женщины прелестны, а красоту им придает любовь мужчин. Александр Сергеевич Пушкин.",
            "Легко скрыть ненависть, трудно скрыть любовь, всего труднее скрыть равнодушие. Людвиг Бёрне.",
            "Хорошие люди принесут вам счастье, плохие люди наградят вас опытом, худшие — дадут вам урок, а лучшие — подарят воспоминания. Цените каждого. Уилл Смит.",
            "Любовь — начало и конец нашего существования. Без любви нет жизни. Поэтому-то любовь есть то, перед чем преклоняется мудрый человек. Конфуций."

        ];  // Абзацы текста
        var txt = $('#citata');  //  Контейнер в котором рендерится текст

        var options = {
            duration: 10000,          // Время (мс) показа каждого абзаца
            rearrangeDuration: 1000, // Время (мс) смены абзацов
            effect: 'random',        // эффект анимации появления символов fadeIn, slideLeft, slideTop, или random.
            centered: true           // центрирование текста относительно его контейнера
        };
        txt.textualizer(list, options); // textualize it!
        txt.textualizer('start'); // start
    });
</script>;


<div id="main">

    <div class="header">
        {% block content_header %}
        {% endblock %}
    </div>
    <div class="clear"></div>
    <div class="l_colonka">
        {% block l_colonka %}
        {% endblock %}
    </div>

    <div class="c_colonka">
        {% block c_colonka %}
        {% endblock %}
    </div>

    <div class="r_colonka">
        {% block r_colonka %}
        {% endblock %}
    </div>
</div>

    <div class="clear"></div>

    <div class="end_content"></div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>