<div id="main">

    <div class="header">
        {% block content_header %}
        {% endblock %}
    </div>
    <div class="clear"></div>
    <div class="l_colonka">
        {% block l_colonka %}
        {% endblock %}
    </div>

    <div class="c_colonka">
        {% block c_colonka %}
        {% endblock %}
    </div>

    <div class="r_colonka">
        {% block r_colonka %}
        {% endblock %}
    </div>
</div>

    <div class="clear"></div>

    <div class="end_content"></div>

    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>