<div id="head">

		{% include 'top_head.twig' %}
		{% include 'flash.twig' %}

		<div id="main_menu">

		{% include 'main_menu.twig' %}

			<object width="90" height="90" style="position: absolute; margin-left: 135px; margin-top: 26px; width: 70px; height: 80px; z-index:10;" type="application/x-shockwave-flash" data="/img/calendarb.swf">
				<param name="movie" value="img/calendar2b.swf"/>
				<param name="wmode" value="transparent"/>
			</object>

		</div>

	</div>

	<!--[if lt IE 7]><p class="chromeframe">Вы используете устаревший браузер. Для включения всех возможностей данного
		сайта необходимо обновить браузер. <a href="http://browsehappy.com/">Обновите свой браузер сейчас</a>или
		<a href="http://www.google.com/chromeframe/?redirect=true">установите расширение Google Chrome Frame</a>для
		просмотра этого сайта.</p><![endif]-->

	<NOSCRIPT>
		<br><br>
		<hfooter style="color: #d64d5c; margin-left: 200px;">Внимание! Для полноценной работы сайта, вам нужен браузер с
			поддержкой JavaScript!
		</hfooter>
	</NOSCRIPT>