{#{% use "content.twig" %}#}


{% block l_colonka %}
    <div class="l_colonka">
    <div class="block lifted silver" >
        <h2 class="silver">Рубрики</h2>
        <dl id="menu">
            <dt><a href="/index.php"><strong>Видео</strong> </a></dt>
            <dt><a href="/index.php"><strong>Фото</strong> </a></dt>
            <dt><a href="/index.php"><strong>Фотокниги</strong> </a></dt>
            <dt><a href="/index.php"><strong>Слайд шоу</strong> </a></dt>
            <dt><a href="/index.php"><strong>Коллажи</strong> </a></dt>
            <dt><a href="/index.php"><strong>Прайс-лист по фотосъемке</strong> </a></dt>
            <dt><a href="/index.php"><strong>Love Story</strong> </a></dt>
            <dt><a href="/index.php"><strong>Прайс-лист по видеосъемке</strong> </a></dt>
            <dt><a href="/index.php"><strong>Видео Love Story</strong> </a></dt>
            <dt><a href="/index.php"><strong>Гид по фотобанку </strong> </a></dt>
            <dt><a href="/index.php"><strong>Видеоуроки</strong> </a></dt>
        </dl>
    </div>




    <div class="clear"></div>
    <div class="contact">
        <div class="small_head">
            <p class="toptext_00">Контакты:</p>
        </div>
        <p class="text_contact" style="margin-top: 15px;">Видеооператор</p>

        <p class="text_contact" style="margin-top: -10px;">тел. 094-94-77-070</p>

        <p class="text_contact">
            <object style="margin-top: -10px; margin-bottom: -10px;" width="115" height="50" data="img/1135_mail.swf" type="application/x-shockwave-flash">
                <param name="wmode" value="transparent"/>
                <param name="allowScriptAccess" value="always"/>
                <param name="flashvars" value="&in_title=почта&&url=mailto:video@aleks.od.ua&"/>
                <param name="src" value="img/1135_mail.swf"/>
            </object>
        </p>
        <p class="text_contact">
            <script type="text/javascript">// <![CDATA[
                scrambleVideo();
                // ]]></script>
        </p>
        <p class="text_contact" style="margin-top: 15px;">Фотограф</p>

        <p class="text_contact" style="margin-top: -10px;">тел. 703-01-67</p>

        <p class="text_contact">
            <object style="margin-top: -10px; margin-bottom: -10px;" width="115" height="50" data="img/1135_mail.swf" type="application/x-shockwave-flash">
                <param name="wmode" value="transparent"/>
                <param name="allowScriptAccess" value="always"/>
                <param name="flashvars" value="&in_title=почта&&url=mailto:foto@aleks.od.ua&"/>
                <param name="src" value="img/1135_mail.swf"/>
            </object>
        </p>
        <p class="text_contact">
            <script type="text/javascript">// <![CDATA[
                scrambleFoto();
                // ]]></script>
        </p>
    </div>

    <div class="block lifted">
        <h2>Мы рекомендуем</h2>
        <p style="text-align: center;"></p>
        <h3>Наши друзья</h3>
        <p></p>
        <p style="text-align: center;">
            <noindex>
                <a target="_blank" rel="nofollow" href="javascript:void(0)" title="Видеокурс - Интернет-магазин под ключ">
                    <img width="190" alt="Видеокурс Интернет-магазин под ключ" src="/reklama/photo/svadbi/Дети/06_Возле мягких игрушек.jpg">
                </a>
            </noindex>
        </p>
        <p style="text-align: left;">Видеокурс, не имеющий аналогов по качеству практических занятий и размаху подачи полезной информации — такого Вы больше нигде не встретите. По сути, это три полновесных курса с ценнейшим материалом, собранные в единый комплект.</p>
        <p style="text-align: center;">
            <noindex>
                <strong>
                    <a target="_blank" rel="nofollow" href="javascript:void(0)" title="Видеокурс - Интернет-магазин под ключ">Подробнее »</a>
                </strong>
            </noindex>
        </p>
    </div>

    <!--<script type="text/javascript">
          $(document).ready(function(){
            $(".selected").click(function() {
               $(" #vragi").hide("fast", function() {
                  $("#noVrag").show("fast");
               });
                  function shovNoVragi(){
                    $(" #vragi").hide("fast", function() {
                       $("#noVrag").show("fast");
                  });
                 }

              });
            });
       </script>-->





    <script type="text/javascript">
        $(document).ready(function() {
            function visHide()
            {
                if ($("#noVrag").is(":hidden")) {$('#selectSmile').text('Вернуться »');
                } else {$('#selectSmile').text('Подробнее »');
                }
            }
            $('#selectSmile').click(function() {
                visHide();
                $('#vragi').toggle(200);$('#noVrag').toggle(200);
            });
            $('#selectVrag, #smail').click(function() {
                visHide();
                $('#vragi').toggle(200);$('#noVrag').toggle(200);
            });
        });
    </script>

    <div class="block lifted">
        <h2>Внимание</h2>
        <h3 style="color: #b21e0f;">Наши враги</h3>
        <div id="vragi">
            <p class="center">
                <noindex>
                    <a id="selectVrag" href="javascript:void(0)" title="Наши враги">
                        <img width="190" alt="Наши враги" src="/reklama/img/vragi.jpg">
                    </a>
                </noindex>
            </p>
            <blockquote>
                <p>«Живи с людьми так, чтобы твои друзья не стали недругами, а недруги стали друзьями.»
                    <br>
                    <small style="float: right;">Пифагор</small>
                </p>
            </blockquote>
        </div>
        <div id="noVrag">
            <div id="smail"></div>
            <p class="center">	У нас их нет:)) </p>
        </div>
        <p class="center">
            <noindex>
                <strong>
                    <a id="selectSmile" class="selected" href="javascript:void(0)" title="Наши враги">Подробнее »</a>
                </strong>
            </noindex>
        </p>
    </div>
    </div>

{% endblock l_colonka %}