{#{% extends "content.twig" %}#}

{#{% block r_colonka %}#}

<div class="block lifted">
    <h2>Разное</h2>
    <div class="news_title">Новости:</div>
    <div class="entry">
        <div class="news" style="padding: 0;">

            <div class="data">
                <object style="margin-top: -3px; margin-left: -5px;" width="90" height="20" data="img/bigclock4.swf" type="application/x-shockwave-flash">
                    <param name="wmode" value="transparent"/>
                    <param name="src" value="img/bigclock4.swf"/>
                </object>
            </div>
            <p class="news_tit" style="margin: 8px 0;">Скидка 400гр</p>

            <div>
                <span style="color: #000000;">на съемку свадеб - все дни, кроме<br/> <span style="text-align: center;"><span class="ttext_orange" style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; font-weight: normal; color: #0000cd;">Пт,Сб и Вс.</span></span></span>
            </div>
            <div class="spec_title">Спецпредложения:</div>
            <p style="font-family: Georgia,Times New Roman,Times,serif; font-size: 12px; font-weight: normal; color: #000000;">
                padding-left: – определяет внутренний отступ слева. margin-top: – определяет внешний отступ сверху.
                margin-left: – определяет внешний отступ слева. min-width: – определяет минимальную ширину. max-width: –
                определяет максимальную ширину.</p>
        </div>
    </div>
</div>


<div class="block lifted">
    <h2>Поделитесь с друзьями</h2>
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_odnoklassniki_ru"></a> <a class="addthis_button_vk"></a>
        <a class="addthis_button_mymailru"></a> <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar": true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5130b3ac183d6054"></script>
    <!-- AddThis Button END -->
</div>


<div class="block lifted">
    <h2>Видеокурсы</h2>
    <div class="textwidget">
        <p style="text-align: center;">
            <noindex>
                <a target="_blank" rel="nofollow" href="javascript:void(0)">
                    <img width="140" alt="Корпоративный сайт под ключ" src="/reklama/photo/svadbi/Лето/10.jpg">
                </a>
            </noindex>
        </p>
        <p style="text-align: left;">
            <strong>«Корпоративный сайт под ключ»</strong>
            - это практическое руководство и готовая универсальная система управления контентом плюс весь процесс ее создания с открытым кодом, который не имеет пределов расширения и совершенствования.
        </p>
        <p style="text-align: center;">
            <strong>
                <noindex>
                    <a target="_blank" rel="nofollow" href="javascript:void(0)"> Подробнее »</a>
                </noindex>
            </strong>
        </p>
        <hr>
        <p style="text-align: center;">
            <noindex>
                <a target="_blank" rel="nofollow" href="javascript:void(0)">
                    <img width="140" alt="Практика резиновой верстки сайта" src="/reklama/photo/svadbi/Лето/03.jpg">
                </a>
            </noindex>
        </p>
        <p style="text-align: center;">
            <strong>Не тяните резину !</strong>
        </p>
        <p style="text-align: left;">
            Видеокурс
            <strong>"Практика резиновой верстки"</strong>
            . Без воды. Лишней теории. Убитого времени.
            <strong>37</strong>
            качественных уроков, более
            <strong>19</strong>
            часов видео с подробными инструкциями. Просто взять и сделать!
        </p>
        <p style="text-align: center;">
            <strong>
                <noindex>
                    <a target="_blank" rel="nofollow" href="javascript:void(0)"> Подробнее »</a>
                </noindex>
            </strong>
        </p>
        <hr>
        <p style="text-align: center;">
            <noindex>
                <a target="_blank" rel="nofollow" href="javascript:void(0)">
                    <img width="140" alt="Премиум уроки" src="/reklama/photo/svadbi/Лето/02.jpg">
                </a>
            </noindex>
        </p>
        <p style="text-align: left;"> Основы самостоятельного сайтостроения - всё, что нужно новичкам и профи для создания сайтов, и даже больше.</p>
        <p style="text-align: center;">
            <strong>
                <noindex>
                    <a target="_blank" rel="nofollow" href="javascript:void(0)"> Подробнее »</a>
                </noindex>
            </strong>
        </p>
    </div>
</div>



<div class="block">
    <h2>Комментарии</h2>
    <ul class="clearlist">
        <li>
            <img class="avatar avatar-32 photo" width="32" height="32" src="http://1.gravatar.com/avatar/d80ca0b8a8f05b3f4b652dc3a8c648f5?s=32&d=&r=G" alt="">
            <div>
                <span class="recent_comment_name">driver</span>
                <span class="ctime">13-08-2013</span>
            </div>
            <a title="driver | Меню «Аккордеон» без javascript и изображений" href="http://dbmast.ru/menyu-akkordeon-bez-javascript-i-izobrazhenij#comment-3496">Виталий. Рад, что вам пригодились мои ...</a>
            <div class="clear"></div>
        </li>
        <li>
            <img class="avatar avatar-32 photo" width="32" height="32" src="http://1.gravatar.com/avatar/7d80f56916550f5d22f7d55227c3fb18?s=32&d=&r=G" alt="">
            <div>
                <span class="recent_comment_name">Виталий</span>
                <span class="ctime">13-08-2013</span>
            </div>
            <a title="Виталий | Меню «Аккордеон» без javascript и изображений" href="http://dbmast.ru/menyu-akkordeon-bez-javascript-i-izobrazhenij#comment-3495">Ну наконец-то, я нашел что-то стоящее! ...</a>
            <div class="clear"></div>
        </li>
    </ul>
</div>




<div class="block">
    <h2>Подписка на Обновления</h2>

    <p style="text-align: left;">
        <a target="_blank" rel="nofollow" href="http://feedburner.google.com/fb/a/mailverify?uri=dobrovoi&loc=ru_RU" title="Получайте все обновления на Ваш E-mail!">
            <img width="64" height="64" border="0" alt="Получай обновления на почту" src="/img/email2.png" style="float:left; margin: -8px 5px 0 0; padding:1px; ">
        </a>
        Подпишитесь и получайте все обновления на <br>
        <a target="_blank" rel="nofollow" href="javascript:void(0)" title="Получайте все обновления на E-mail!"> Ваш E-mail</a>
        , чтобы всегда быть в курсе событий.
    </p>
    <form id="subscribeform" class="subscribeform" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=dobrovoi', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true" target="popupwindow" method="post" >
        <input class="subscribe-field" type="text" name="email" value="Укажите свой email" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
        <input type="hidden" name="uri" value="dobrovoi">
        <input type="hidden" value="ru_RU" name="loc">
        <button type="submit">Подписаться!</button>
    </form>
</div>

<div class="clear"></div>

{#{% endblock %}#}