<div style="width:240px; float: left;">
<div class="block lifted silver" >
	<h2 class="silver">Рубрики</h2>
	<dl id="menu">
		<dt><a href="/index.php"><strong>Видео</strong> </a></dt>
		<dt><a href="/index.php"><strong>Фото</strong> </a></dt>
		<dt><a href="/index.php"><strong>Фотокниги</strong> </a></dt>
		<dt><a href="/index.php"><strong>Слайд шоу</strong> </a></dt>
		<dt><a href="/index.php"><strong>Коллажи</strong> </a></dt>
		<dt><a href="/index.php"><strong>Прайс-лист по фотосъемке</strong> </a></dt>
		<dt><a href="/index.php"><strong>Love Story</strong> </a></dt>
		<dt><a href="/index.php"><strong>Прайс-лист по видеосъемке</strong> </a></dt>
		<dt><a href="/index.php"><strong>Видео Love Story</strong> </a></dt>
		<dt><a href="/index.php"><strong>Гид по фотобанку </strong> </a></dt>
		<dt><a href="/index.php"><strong>Видеоуроки</strong> </a></dt>
	</dl>
</div>
</div>
